/* 
Duffy css file
Created by: Aseem Sood
Date: 6/11/2014
*/

html, body { 
	padding: 0; 
	margin: 0;
	font-family: sans-serif; 
}
.ui-content {
	padding:0px 0px 0px 0px;
}
.ui-section {
	float: left;
	width: 100%;
}
.ui-sec-header {
	font-family: arial;
	font-size: 1em;
	padding: 11px 0px 11px 10px;
	background-color: rgba(239, 239, 239, 0.3);
}
.image {
	padding-right: 2px;
	cursor: pointer;
	margin-bottom: 2px;
}
.image-thumb {
	float: left;
	width: 78.5px;
	height: 78.5px;
}
.is-third {
	padding-right: 0px;
}
.text {
	font-family: sans-serif;
}
.center {
	text-align: center;
}
.hidden {
	display: none;
}
a:link{
	text-decoration: none;
	font-weight: bold;
	color: #0000FF;
}
a.visited {
	text-decoration: none;
	font-weight: bold;
	color: #0000FF;	
}