
<!DOCTYPE html> 
<html> 

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<title>Neighbors</title> 
	<script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.js"></script>

	<script>
		url = "/api/neighbors?user_id=205"

		$.getJSON(url, function( data ) {
		  var items = [];
		  $.each( data.neighbors, function( key, neighbor ) {
			items.push( neighbor.photo_1 );
		  });
		 
		  $( "<ul/>", {
			"class": "my-new-list",
			html: items.join( "<br>" )
		  }).appendTo( "body" );
		});
	</script>
</head> 

<body> 


</body>


</html>