/* Common Patterns ==================================================================== */
.wrapper {
	@include border-box-sizing;
	max-width:										600px;
	padding:										0 50px;
	margin:											0 auto;
	position:										relative;
	border: 1px solid rgba(255,255,255,0);


	@media (max-width: 550px){ 
		padding:										0 20px;
	}
}


