/* Basics =================================================================== */

a { 
	img { text-decoration: 				none; border: 0 none; top:0; }
	text-decoration: 					none;
	border-bottom: 						none;
	position: relative;
	outline: none;
	color: 								$color-link;


	//
	display: 									inline-block;
	vertical-align: 							bottom;
	-webkit-transform: 							translateZ(0);
	transform: 									translateZ(0);
	box-shadow: 								0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: 				hidden;
	backface-visibility: 						hidden;
	-moz-osx-font-smoothing: 					grayscale;
	position: 									relative;
	overflow: 									hidden;

	&:before {
		content: 								"";
		position: 								absolute;
		z-index: 								-1;
		left: 									50%;
		right: 									50%;
		bottom: 								0;
		background: 							$color-link;
		height: 								2px;
		-webkit-transition-property: 			left, right;
		transition-property: 					left, right;
		-webkit-transition-duration: 			0.1s;
		transition-duration: 					0.1s;
		//-webkit-transition-timing-function: 	ease-out;
		//transition-timing-function: 			ease-out;  	
	}
	&:hover:before, &:focus:before, &:active:before {
		left: 0;
		right: 0;		
	}


}


body { 
	@include body-fontstyle;
	font-size: 							18px; 
	line-height: 						24px; 
	margin: 							0;
	padding:							0;

	text-rendering: 					optimizeLegibility;
	-webkit-font-smoothing: 			antialiased;
//	overflow:							hidden;
	position:							relative;
	padding-bottom:						60px;
} 

html {
	background-color:					$color-body-background;
	-webkit-transform: translate3d(0,0,0);

	border-top:								2px solid $color-html-border;
	height: 100%;
}

html,
body {
	background-color:					$color-body-background;

}


h1, h2, h3, h4 {
	@include fontstyle-headers;
	margin:									0px;
}

h1 { 
	font-size:								32px;
	line-height:							40px;
}
h2 {
	font-size:								18px;
	line-height:							22px;
	//text-transform:							uppercase;
	//margin-bottom:							20px;
}
h3 { }
h4 { }

hr {
	border: 							none;
	height: 							2px;
	//background-color: 					$color-grey;
}

input, textarea { 	
	@include body-fontstyle;
	height:								50px;
	
	&:focus {
		outline: 						none;
	}
	}

ul {
	list-style-type:circle;

	li { 
		margin-left: 						-1.35em;
	}
}

ol {
	li {
		margin-left: 					-.5em;
	}
}

p { 
	margin: 							.5em 0 1em 0; 
	max-width:							40em;
}

section {
	margin: 							0;
	padding:							0; }

::selection { 
//		background-color: 					rgba(0, 0, 0, .85); 
//		text-shadow: 						none; 
} 