body {
	font-family: sans-serif;
}
.ui-header {
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 10px;
}
.ui-top-summary {
	padding: 0px 0px 20px 0px;
}
.ui-content {

}
.ui-footer {
	padding: 10px 0px 10px 0px;
	font-size: 12px;
}
.ui-indent {
	padding-left: 40px;
}
.hidden {
	display: none;
}
.center {
	text-align: center;
}

.left {
	text-align: left;
}