{% load dictionary_extras %}

<!DOCTYPE html> 
<html> 

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="stylesheet" type="text/css" href="/static/duffy.css" media="screen" />
	<title>Search your photos</title> 
	<script src="//code.jquery.com/jquery-1.10.2.min.js"> </script>
	<script src="/static/duffy.js"></script>
<style>
	.results-footer {
		float: left;
		margin: 0px 0px 0px 0px;
		width: 100%;
		border-top: 1px solid rgb(239, 239, 239);
		font-size: 10px;
		text-align: left;
	}
	</style>
</head>

<body>

<div class="ui-content">
	<div class="ui-gallery" id="allImages"/>
</div>
</body>
	<script>

	userId = getURLParameter("user_id");
	query = getURLParameter("q");
	num = getURLParameter("num");
	docstack = getURLParameter("docstack");
	if (docstack == 'null') {
		docstack = 0;
	}
	url = "/api/search?user_id=" + userId + "&q=" + query + "&num=" + num + "&docstack=" + docstack;

	console.log("Sending request to " + url);
	$.get(url, function( data ) {
		$.each( data.objects, function( i, objects ) {
			if (objects.type == 'section') {
				row = "";
				$.each(objects.objects, function( i, photos) {
					if (photos.type == 'photo') {
						row += addPhoto(photos);
					}
					else if (photos.type == 'cluster'){
						row += addCluster(photos.objects);
					}
					else if (photos.type == 'docstack'){
						row += addDocstack(photos.objects);
					}
					else {
						console.log('unknown type detected: ' + photos);
					}
				});
				$("<div class='ui-section'><div class='ui-sec-header'>"+ objects.title + "</div>" + row + "</div>").appendTo( "#allImages" );
			}
		});
		$('div.image').each(function(){
			clusterClickHandler($(this));
		});
	});

	</script>
</html>
