<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/smskeeper/style/style.css" />
    <!-- React JS -->

    {% if development %}
    <script src="https://fb.me/react-0.13.0.js"></script>
    <script src="https://fb.me/JSXTransformer-0.13.0.js"></script>
    {% else %}
      <script src="https://fb.me/react-0.13.0.min.js"></script>
    {% endif %}
    <!-- JQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <!-- Class Names -->
    <script src="/static/smskeeper/src/node_modules/classnames/index.js"></script>
    <meta name=viewport content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div id="keeper_app"></div>
		<script type='text/javascript'>
			USER = {% autoescape off %}{{ user_data }}{% endautoescape %};
      {% if development %}
      DEVELOPMENT = true;
      {% endif %}
      console.log(USER);
		</script>
    {% if development %}
      <script type='text/jsx' src="/static/smskeeper/src/{{ script_name }}.jsx"></script>
    {% else %}
      <script type='text/javascript' src="/static/smskeeper/build/{{ script_name }}.js"></script>
    {% endif %}
  </body>
</html>
