@import "_common";
@import "_fixed-data-table";

body {
  font: 100% helvetica, sans-serif;
}

h1 {
  font-size: 18pt;
}

.filterControl
{
	background-color: #CCF;
	padding: 10px;
}

.filterControl * {
	font-size: 12pt;
	margin-left: 10px;
}

.filterControl input {
	width: 50%;
}

