@import "_common";
@import "_fixed-data-table";

body {
  font: 100% helvetica, sans-serif;
}

h1 {
  font-size: 14pt;
  border: none;
  margin-top: 20px;
  margin-bottom: 4px;
}

.filterControl
{
	background-color: #CCF;
	padding: 10px;

	select, input {
		font-size: 12pt;
		margin-left: 10px;
	}

	input {
		width: 50%;
	}
}

