<html>
<head>
<meta http-equiv="refresh" content="30">
	<title>Duffy Summary</title> 
</head>
<style>
	html, body { padding: 0; margin: 0; font-family: arial; font-size: 12px;}
	table {
		border-collapse: collapse;
		margin-bottom: 20px;
	}
	table, th, td {
		font-size: 12px;
	}
	td {
		padding: 0px 5px 0px 5px;
	}
	.ui-row-internal {
		background-color: #C0C0C0;
	}
	.ui-content {
		padding: 10px 0px 0px 10px;
	}
	.ui-table tr:hover {
		background-color: #b8d1f3;
	}
	.ui-row {

	}
	.ui-header {
		font-size: 16px;
		font-weight: bold;
		text-align: left;
		padding-bottom: 4px;
	}
	.ui-row-header {
		font-weight: bold;
		font-size: 12px;
		border: 1px solid black;
	}
	.ui-key {
	}
	.red {
		color: red;
	}
	.recent {
		font-weight: bold;
	}
	#stats{
		text-align: left;
	}
	.right{
		text-align: right;
	}
	.center{
		text-align: center;
	}
	.b-r{
		border-right: 1px solid black;
	}
	.ui-server-id {
		font-size: 24px;
		text-align: center;
		margin-bottom: 10px;
	}
	.ui-server-switch {
		font-size: 16px
	}

</style>
<script src="/static/jquery-1.10.2.min.js"></script>
<script src="/static/jquery.timeago.js"></script>
<body>
<div class="ui-content">
	<div class='ui-server-id' id='ui-server-id'>
	</div>
	{% if arbusList %}
		<div class='ui-header'> Search/Photos/Arbus &mdash; {{ arbusList|length }} accounts </div>
		<table class='ui-table' cellpadding='3'>
			<tr class='ui-row-header' >
				<td class='userid b-r'> ID </td>
				<td class='name b-r'> Name </td>
				<td class='phoneid b-r'> PhoneId </td>
				<td class='created b-r'> Created </td>
				<td class='db-count b-r'> Photos </td>
				<td class='db-thumbnails b-r'> Thumbs <br> (%)</td>
				<td class='twofish b-r'> TwoFish <br> (%) </td>
				<td class='clustered b-r'> Clustered <br> (%)  </td>
				<td class='index-count b-r'> Indexed <br> Photos (%) </td>
				<td class='faces b-r'> Face <br> Rec (%)  </td>
				<td class='db-fullimage b-r'> Fulls (%) </td>
				<td class='overfeat b-r'> Overfeat <br> (%)  </td>
				<td class='classifications b-r'> Image <br> Rec (%)  </td>
				<td class='last-uploaded-timestamp b-r'> Last Upload </td>
				<td class='last-updated-timestamp'> Last updated </td>			
			</tr>
		{% for entry in arbusList %}
			<tr class='ui-row {% if entry.internal == True %} ui-row-internal {% endif %}'>
				<td class='userid b-r'> {{ entry.user.id }} </td>
				<td class='name b-r'> {{ entry.user.display_name}}</td>
				<td class='phoneid b-r' title='{{ entry.user.phone_id }}'> {{ entry.user.phone_id|truncatechars:12}} </td>
				<td class='created timeago b-r' title="{{ entry.userCreated }}">  </td>
				<td class='db-count right b-r'> {{ entry.dbCount }} </td>
				<td class='db-thumbnails right percent b-r' title='{{ entry.thumbsCount }}'> {{ entry.thumbs }} </td>
				<td class='twofish right percent b-r' title='{{ entry.twofishCount }}' >{{ entry.twofish }} </td>
				<td class='clustered right percent b-r' title='{{ entry.clusteredCount }}'> {{ entry.clustered }} </td>
				<td class='index-count right percent b-r'> {{ entry.resultsCount }} </td>
				<td class='faces right percent b-r'> {{ entry.faces }} </td>
				<td class='db-fullimage right b-r' title='{{ entry.fullimagesCount }}'> {{ entry.fullimages }} </td>	
				<td class='overfeat right percent b-r' title="{{ entry.overfeatCount }} "> {{ entry.overfeat }} </td>		
				<td class='classifications right percent b-r'> {{ entry.classifications }} </td>
				<td class='last-uploaded-timestamp timeago b-r' title="{{ entry.lastUploadTime }}"> </td>
				<td class='last-updated-timestamp timeago' title="{{ entry.lastUpdatedTime }}"> </td>			
			</tr>
		{% endfor %}
	</table>
	{% endif %}

	{% if strandList %}
		<div class='ui-header'> Strand &mdash; {{ strandList|length }} accounts </div>
		<table class='ui-table' cellpadding='3'>
			<tr class='ui-row-header' >
				<td class='userid b-r'> ID </td>
				<td class='name b-r'> Name </td>
				<td class='phoneid b-r'> Phone # </td>
				<td class='created b-r'> Created </td>
				<td class='db-count b-r'> Photos </td>
				<td class='db-thumbnails b-r'> Thumbs <br> (%)</td>
				<td class='twofish b-r'> TwoFish <br> (%) </td>
				<td class='clustered b-r'> Clustered <br> (%)  </td>
				<td class='db-fullimage b-r'> Fulls (%) </td>
				<td class='neighbor b-r'> Neighbor <br> (%) </td>
				<td class='notifications b-r'> Nots <br> sent </td>
				<td class='last-not-timestamp b-r'> Last Not. <br> Timestamp </td>
				<td class='location b-r'> Location </td>
				<td class='location-timestamp b-r'> Location <br> Timestamp </td>
				<td class='invites b-r'> Rem. <br> invites </td>
				<td class='last-uploaded-timestamp b-r'> Last Upload </td>
			</tr>
		{% for entry in strandList %}
			<tr class='ui-row {% if entry.internal == True %} ui-row-internal {% endif %}'>
				<td class='userid b-r'> {{ entry.user.id }} </td>
				<td class='name b-r'> <a target=_new href='/strand/viz/neighbors?user_id={{ entry.user.id }}'>{{ entry.user.display_name}}</a></td>
				<td class='phoneid b-r' title='{{ entry.user.phone_number }}'> 

					{% if entry.user.phone_number %}
						{% if entry.user.phone_number|length > 12 %}
							Archived
						{% else %}
							{{ entry.user.phone_number }}
						{% endif %}
					{% else %}
						&mdash; 
					{% endif %} </td>
				<td class='created timeago b-r' title="{{ entry.userCreated }}">  </td>
				<td class='db-count right b-r'> {{ entry.dbCount }} </td>
				<td class='db-thumbnails right percent b-r' title='{{ entry.thumbsCount }}'> {{ entry.thumbs }} </td>
				<td class='twofish right percent b-r' title='{{ entry.twofishCount }}'> {{ entry.twofish }} </td>
				<td class='clustered right percent b-r' title='{{ entry.clusteredCount }}'> {{ entry.clustered }} </td>
				<td class='db-fullimage right b-r' title='{{ entry.fullimagesCount }}'> {{ entry.fullimages }} </td>
				<td class='neighbor right b-r'> {{ entry.neighbor }}</td>
				<td class='notifications right b-r'> {{ entry.notifications }} </td>
				<td class='last-not-timestamp right timeago b-r' title='{{ entry.lastNotifSent }}'> </td>				
				<td class='location right b-r'> 
					{% if entry.user.last_location_point %}
					<a target=_new href='http://maps.google.com?q={{ entry.user.last_location_point.y }},{{entry.user.last_location_point.x}}'>{{ entry.user.last_location_point.y }},{{entry.user.last_location_point.x}}</a>
					{% endif %}
				</td>
				<td class='location-timestamp timeago b-r' title='{{ entry.lastLocationTimestamp}}'></td>
				<td class='invites b-r'> {{ entry.user.invites_remaining }} </td>
				<td class='last-uploaded-timestamp timeago b-r' title="{{ entry.lastUploadTime }}"> </td>
			</tr>
		{% endfor %}
		</table>
	{% endif %}
	<div class="ui-key">
		Key: <span style='background-color: #C0C0C0;'> Shaded</span> rows are internal users.
	</div>
<div id="stats" class="text">
	<!-- STATS: Total time: %(total_time).2fs | Python: %(python_time).2fs | DB: %(db_time).2fs | Queries: %(db_queries)d ENDSTATS -->
</div>
</div>


</body>
<script>

$(document).ready(function() {
  $("td.timeago").timeago();
  $("td.percent").each(function(){
	if ($.trim($(this).text()) != '100') {
		$(this).addClass("red");
	}
  });
  if (!(location.hostname.match('prod.strand.duffyapp.com'))){
  	$("#ui-server-id").append('DEV <span class="ui-server-switch">(<a target=_new href="http://prod.strand.duffyapp.com/viz/summary">Switch to Prod</a>)</span>');
  	$("#ui-server-id").css('background-color', '#C0C0C0');
  }
  else {
   	$("#ui-server-id").append('PROD <span class="ui-server-switch">(<a target=_new href="http://dev.duffyapp.com/viz/summary">Switch to Dev</a>)</span>');
   	$("#ui-server-id").css('background-color', 'orange');
  }
  $('td.timeago').each(function(){
	if ($(this).html().search('min') > -1 || 
		$(this).html().search('hour') > -1 ||
		$(this).html().search('now') > -1){
		$(this).addClass('recent');
	}
  });
});
</script>
</html>