{% load humanize %}
<html>
<head>
<meta http-equiv="refresh" content="300">
	<title>Strand ({{ strandV2List|length }})</title> 
</head>
<style>
	html, body { padding: 0; margin: 0; font-family: arial; font-size: 12px;}
	table {
		border-collapse: collapse;
		margin-bottom: 20px;
	}
	table, th, td {
		font-size: 12px;
	}
	td {
		padding: 0px 5px 0px 5px;
	}
	.ui-row-internal {
		background-color: #C0C0C0;
	}
	.ui-content {
		padding: 10px 0px 0px 10px;
	}
	.ui-table tr:hover {
		background-color: #b8d1f3;
	}
	.ui-row {

	}
	.ui-header {
		font-size: 16px;
		font-weight: bold;
		text-align: left;
		padding-bottom: 4px;
	}	
	.ui-row-header {
		font-weight: bold;
		font-size: 12px;
		border: 1px solid black;
	}
	.ui-key {
	}
	.red {
		color: red;
	}
	.recent {
		font-weight: bold;
	}
	#stats{
		text-align: left;
	}
	.right{
		text-align: right;
	}
	.center{
		text-align: center;
	}
	.b-r{
		border-right: 1px solid black;
	}
	.ui-server-id {
		font-size: 24px;
		text-align: center;
		margin-bottom: 10px;
	}
	.ui-server-switch {
		font-size: 16px
	}
	.top-table {
		float: left;
		margin-left: 20px;
	}
	.bottom-summary {
		clear:left;
	}

</style>
<script src="/static/jquery-1.10.2.min.js"></script>
<script src="/static/jquery.timeago.js"></script>
<body>
<div class="ui-content">
	<div class='ui-server-id' id='ui-server-id'>
	</div>
	<div class='top-summary'>

	<div class='top-table'>
		<div class='ui-header center'> Counts </div>
		<table class='ui-table' cellpadding='3'>
			<tr class='ui-row' >
				<td class='col1 right b-r'> Users </td>
				<td class='counts'> {{ peopleCounts.all }} </td>
			</tr>
			<tr class='ui-row' >
				<td class='col1 right b-r'> Friends </td>
				<td class='counts'> {{ peopleCounts.friends }} </td>
			</tr>
			<tr class='ui-row' >
				<td class='col1 right b-r'> Strands </td>
				<td class='counts'> {{ strandCounts.all }} </td>
			</tr>
			<tr class='ui-row' >
				<td class='col1 right b-r'> Requests </td>
				<td class='counts'> {{ inviteCounts.all }} </td>
			</tr>
			<tr class='ui-row' >
				<td class='col1 right b-r'> Photos (shared) </td>
				<td class='counts'> {{ peopleCounts.photosShared|intcomma  }} </td>
			</tr>
			<tr class='ui-row' >
				<td class='col1 right b-r'> Photos (metadata) </td>
				<td class='counts'> {{ peopleCounts.photosMetadata|intcomma }} </td>
			</tr>

		</table>
	</div>				
	<div class='top-table'>
		<div class='ui-header center'> Stats </div>
		<table class='ui-table' cellpadding='3'>
			<tr class='ui-row' >
				<td class='col1 right b-r'> Friends/User </td>
				<td class='counts'> {{ statsCounts.friendsPerUser|floatformat:1 }} </td>
			</tr>
			<tr class='ui-row' >
				<td class='col1 right b-r'> Strands/User </td>
				<td class='counts'> {{ statsCounts.strandsPerUser|floatformat:1 }} </td>
			</tr>
			<tr class='ui-row' >
				<td class='col1 right b-r'> Requests/User </td>
				<td class='counts'> {{ statsCounts.invitesPerUser|floatformat:1 }} </td>
			</tr>
			<tr class='ui-row' >
				<td class='col1 right b-r'> Photos (shared)/User </td>
				<td class='counts'> {{ statsCounts.photosSharedPerUser|floatformat:1 }} </td>
			</tr>
			<tr class='ui-row' >
				<td class='col1 right b-r'> Photos (metadata)/user </td>
				<td class='counts'> {{ statsCounts.photosMetadataPerUser|floatformat:0  }} </td>
			</tr>
			<tr class='ui-row' >
				<td class='col1 right b-r'> Shared </td>
				<td class='counts'> {{ statsCounts.percentPhotosShared|floatformat:1 }}% </td>
			</tr>

		</table>
	</div>					
	<div class='top-table'>
		<div class='ui-header center'> Strand.photos </div>
		<table class='ui-table' cellpadding='3'>
			<tr class='ui-row' >
				<td class='col1 right b-r'> All Strands </td>
				<td class='counts'> {{ strandCounts.all }} </td>
			</tr>
			<tr class='ui-row' >
				<td class='col1 right b-r'> w/ 1 photo </td>
				<td class='counts'> {{ strandCounts.b1 }} </td>
			</tr>
			<tr class='ui-row' >
				<td class='col1 right b-r'> w/ 2-4 photos </td>
				<td class='counts'> {{ strandCounts.b2 }} </td>
			</tr>			
			<tr class='ui-row' >
				<td class='col1 right b-r'> w/ 5-10 photos </td>
				<td class='counts'> {{ strandCounts.b3 }} </td>
			</tr>
			<tr class='ui-row' >
				<td class='col1 right b-r'> w/ 10+ photos </td>
				<td class='counts'> {{ strandCounts.b4 }} </td>
			</tr>			

		</table>
	</div>

	<div class='top-table'>
		<div class='ui-header center'> Strand.users </div>
		<table class='ui-table' cellpadding='3'>
			<tr class='ui-row' >
				<td class='col1 right b-r'> All Strands </td>
				<td class='counts'> {{ userCounts.all }} </td>
			</tr>
			<tr class='ui-row' >
				<td class='col1 right b-r'> w/ 1 person </td>
				<td class='counts'> {{ userCounts.b1 }} </td>
			</tr>
			<tr class='ui-row' >
				<td class='col1 right b-r'> w/ 2 people </td>
				<td class='counts'> {{ userCounts.b2 }} </td>
			</tr>			
			<tr class='ui-row' >
				<td class='col1 right b-r'> w/ 3 people </td>
				<td class='counts'> {{ userCounts.b3 }} </td>
			</tr>
			<tr class='ui-row' >
				<td class='col1 right b-r'> w/ 4-5 people </td>
				<td class='counts'> {{ userCounts.b4 }} </td>
			</tr>			
			<tr class='ui-row' >
				<td class='col1 right b-r'> w/ 5+ people </td>
				<td class='counts'> {{ userCounts.b5 }} </td>
			</tr>

		</table>
	</div>

	<div class='top-table'>
		<div class='ui-header center'> Requests </div>
		<table class='ui-table' cellpadding='3'>
			<tr class='ui-row' >
				<td class='col1 right b-r'> All Requests </td>
				<td class='counts'> {{ inviteCounts.all }} </td>
			</tr>
			<tr class='ui-row' >
				<td class='col1 right b-r'> Accepted </td>
				<td class='counts'> {{ inviteCounts.accepted }} </td>
			</tr>
			<tr class='ui-row' >
				<td class='col1 right b-r'> Swapped </td>
				<td class='counts'> {{ inviteCounts.swapped }} </td>
			</tr>
		</table>
	</div>	

</div>

	{% if strandV2List %}
	<div class='bottom-summary'>
		<div class='ui-header'> Strand v2 &mdash; {{ strandV2List|length }} accounts </div>
		<table class='ui-table' cellpadding='3'>
			<tr class='ui-row-header' >
				<th class='before b-r' colspan='3' > </th>
				<th class='before b-r' colspan='3' > Photos </th>
				<th class='before b-r' colspan='1' > </th>				
				<th class='actions b-r' colspan='4'> Actions (7d) </th>
				<th class='notifications b-r' colspan='2'> Notifications </th>
				<!-- <th class='location b-r' colspan='2'> Location </th> -->
				<th class='after' colspan='8' > </th>
			</tr>
			<tr class='ui-row-header' >
				<td class='userid b-r'> ID </td>
				<td class='name b-r'> Name </td>
				<td class='created b-r'> Created </td>
				<td class='db-count center b-r'> Metadata </td>
				<td class='gps-count center b-r'> with GPS <br> (%)</td>
				<td class='thumbs center b-r'> Shared <br> (7d | all) </td>
				<td class='requests center b-r'> Requests <br> Sent </td>
				<td class='strands_created center b-r'> Strands <br> Created </td>
				<td class='strands_joined center b-r'> Strands <br> Joined </td>
				<td class='photos_added center b-r'> Photos <br> Added  </td>
				<td class='favs center b-r'> Favs </td>
				<td class='notifications center b-r'> Sent <br> (7d)</td>
				<td class='last-not-timestamp b-r'> Timestamp </td>
				<!-- <td class='location b-r'> GPS </td>
				<td class='location-timestamp b-r'> Timestamp </td> -->
				<td class='contacts b-r'> Friends | <br> Contacts </td> 
				<td class='last-build b-r'> Last <br> Build </td>
				<td class='last-uploaded-timestamp b-r'> Last Upload </td>
				<td class='last-action-timestamp b-r'> Last Action </td>
				<td class='last-checkin-timestamp b-r'> Last Checkin </td>
			</tr>
		{% for entry in strandV2List %}
			<tr class='ui-row {% if entry.internal == True %} ui-row-internal {% endif %}'>
				<td class='userid b-r'> {{ entry.user.id }} </td>
				<td class='name b-r' title='{{ entry.user.phone_number }}' > <a target=_blank href='/strand/api/strand_inbox?user_id={{ entry.user.id }}'>{{ entry.user.display_name}}</a></td>
				<td class='created timeago b-r' title="{{ entry.userCreated }}">  </td>
				<td class='db-count right b-r'>	{{ entry.metadataCount }} </td>	
				<td class='gps-count center b-r'> {{ entry.photosWithGPS|floatformat:0 }}</td>					
				<td class='thumbs right b-r'> {{ entry.weeklyPhotos }} | {{ entry.user.thumbsCount }} </td>
				<td class='requests right b-r'> {{ entry.inviteCount }} </td>
				<td class='strands_created center b-r'> {{ entry.weeklyStrandsCreated }} </td>
				<td class='strands_joined center b-r'> {{ entry.weeklyStrandsJoined }} </td>
				<td class='photos_added center b-r'> {{ entry.weeklyPhotosAdded }} </td>
				<td class='favs center b-r'> {{entry.weeklyFavs }} </td>
				<td class='notifications right b-r'> {{ entry.notifications }} </td>
				<td class='last-not-timestamp right timeago b-r' title='{{ entry.lastNotifSent }}'> </td>				
				<!--<td class='location right b-r'> 
					{% if entry.user.last_location_point %}
					<a target=_blank href='http://maps.google.com?q={{ entry.user.last_location_point.y }},{{entry.user.last_location_point.x}}'>{{ entry.user.last_location_point.y }},{{entry.user.last_location_point.x}}</a>
					{% endif %}
					{% if entry.user.last_location_accuracy %}
					(&plusmn;{{ entry.user.last_location_accuracy }}m)
					{% endif %}
				</td>
				<td class='location-timestamp timeago b-r' title='{{ entry.lastLocationTimestamp}}'></td> -->
				<td class='contacts b-r center'> {{ entry.friendCount}} | {{ entry.contactCount }} </td>
				<td class='last-build b-r'> {{ entry.build }} </td>
				<td class='last-uploaded-timestamp timeago b-r' title="{{ entry.lastUploadTime }}"> </td>
				<td class='last-action-timestamp timeago b-r' title="{{ entry.lastActionTime }}"> </td>
				<td class='last-checkin-timestamp timeago b-r' title="{{ entry.lastCheckinTime }}"> </td>				
			</tr>
		{% endfor %}
		</table>
	{% endif %}
	</div>


	<div class="ui-key">
		Key: <span style='background-color: #C0C0C0;'> Shaded</span> rows are internal users.
	</div>
<div id="stats" class="text">
	<!-- STATS: Total time: %(total_time).2fs | Python: %(python_time).2fs | DB: %(db_time).2fs | Queries: %(db_queries)d ENDSTATS -->
</div>
</div>


</body>
<script>

$(document).ready(function() {
  $("td.timeago").timeago();
  $("td.percent").each(function(){
	if ($.trim($(this).text()) != '100') {
		$(this).addClass("red");
	}
  });
  $("td.pipeline-status").each(function(){
	if ($.trim($(this).text()) != 'OK') {
		$(this).addClass("red");
	}
  });
  var otherLinks = "<a target=_blank href='/admin'>admin</a> | <a target=_blank href='/phpmyadmin'>phpmyadmin</a>";

  if (!(location.hostname.match('prod.strand.duffyapp.com'))){
	$("#ui-server-id").append('DEV <span class="ui-server-switch">(' + otherLinks +' | <a target=_blank href="http://prod.strand.duffyapp.com/viz/summary">switch to prod</a>)</span>');
	$("#ui-server-id").css('background-color', '#C0C0C0');
  }
  else {
	$("#ui-server-id").append('PROD <span class="ui-server-switch">('+ otherLinks +' | <a target=_blank href="http://dev.duffyapp.com/viz/summary">switch to dev</a>)</span>');
	$("#ui-server-id").css('background-color', 'orange');
  }
  $('td.timeago').each(function(){
	if ($(this).html().search('min') > -1 || 
		$(this).html().search('hour') > -1 ||
		$(this).html().search('now') > -1){
		$(this).addClass('recent');
	}
  });
});
</script>
</html>