<html>
<head>
<meta name="viewport" content="width=device-width; height=device-height; user-scalable=no"/> 
<style>
	html, body { 
		padding: 0; 
		margin: 0;
		height: 100%;
		width: 100%; 
		display: table;
	}
	.ui-photo{
		display: table-cell;
		vertical-align: middle;
	}
	.ui-img-tag {
		margin-left: auto;
		margin-right: auto;
		display: block; 
		max-width: 100%;
	}
</style>
</head>
<body>
<div class="ui-photo">
	<img class='ui-img-tag' src="{{ thumbnailBasepath }}{{ photoId }}.jpg" 
		onError="this.onerror=null;this.src='{{ thumbnailBasepath }}{{ photoId }}-thumb-156.jpg';">
</div>
</body>
</html>