body {
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
}

h2 {
  border-bottom: none;
  font-size: 16pt;
  color: white;
  margin-bottom: 0;
}

#keeper_app {
	background-color: #3131AC;
}

.list {
	background-color: #C7C7E7;
	margin-left: 20px;
	margin-top: 20px;
	border-radius: 10px;
}

.reminderList {
	background-color: #49C86B;
}

.list .container {
	padding-left: 10px;
}

.grid-item { width: 200px; }
.grid-item--width2 { width: 400px; }

.entriesList {
	background-color: white;
	padding-left: 10px;
	padding-right: 10px;
}

.createEntryFooter a {
	color: white;
}