body {
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	font-size: 10pt;
}

.listTitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 12pt;
  margin-bottom: 0;
}

#keeper_app {
	background-color: #3131AC;
	padding-bottom: 50px;
}

.reminderList {
	background-color: #49C86B;
}

.textList {
	background-color: #C7C7E7;
}

.list .container {
	padding: 8px 12px;
}

.clearButton {
	float: right;
}

.clearButton a {
	color: white;
}

.grid-item {
	width: 300px;
	max-width: calc(100vw - 40px);
	margin-left: 20px;
	margin-top: 20px;
	border-radius: 10px;
	color: white;
}
.grid-item--width2 { width: 400px; }

.entriesList {
	background-color: white;
}

.createEntryFooter a {
	color: white;
}

.entry {
	color: black;
	border-bottom: 1px solid;
	border-color: #E5E5E5;
}

.reminderTime {
	color: black;
}

.overdue {
	color: red;
}

.upcoming {
	color: #4CD964;
}

.deleteButton {
	float: right;
	position: relative;
	left: 30px;
	background-color: white;
	width: 20px;
	height: 20px;
	text-align: center;
}

.deleteButton a {
	color: red;
	margin: auto;
}

.headerBar {
	color: #3131AC;
	background-color: white;
	padding: 20px;
}

.headerBar .greeting {
	font-size: 20pt;
}

.headerBar .userStats {
}

.createListControl {
	background-color: #C7C7E7;
}

.createListField {
	border: none;
	background-color: #C7C7E7;
    background-color: rgba(0,0,0,0);
    padding: 8px 12px;
    width: calc(100% - 24px);
}